/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .pagination {
  display: flex;
  list-style: none;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e89d14;
  color: #e89d14;
  margin: 5px;
}

.pagination__link {
  font-weight: bold;
  margin: 5px;
}

.pagination__link--active a {
  color: #fff;
  background: #e89d14;
  cursor: pointer;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
